

/* 
#& Streamlit to deaktivate:*/
/*#^Sidebar Default Page Navi */
div[data-testid="stSidebarNav"] {
    display: none;
    height: 0px;
    width: 0px;
}

/*#^Sidebar Root*/
section[data-testid="stSidebar"] {
    background: linear-gradient(to bottom, #1e2a38, #0a111f);
    top: 86px;
    min-width: 244px !important;
    max-width: 244px !important;
}

/*#^Sidebar DevHeader */
header[data-testid="stHeader"] {
    display: none;
    height: 0px;
    width: 0px;
}

/*#^Sidebar Open Button */
button[data-testid="baseButton-headerNoPadding"] {
    margin-top: 42px;
    margin-left: 195px;
    margin-bottom: auto;
    align-items: center;
    vertical-align: middle;
}

/*#^Sidebar Close Button */
button[data-testid="baseButton-header"] {
    z-index: 0 !important;
    position: fixed !important;
    margin-top: -45px  !important;
    margin-left: -40px  !important;
}

section[data-testid="stSidebar"] div:nth-of-type(2) {

}

/* 
#& Unsorted
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #1e2a38, #0a111f);
}*/

button {
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset, 0px 3px 5px 0px rgba(0, 0, 0, 0.40);
}

button[type="button"] {
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset, 0px 3px 5px 0px rgba(0, 0, 0, 0.40);
}

.MuiButtonBase-root {
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset, 0px 3px 5px 0px rgba(0, 0, 0, 0.40);
}

/* 
#& >- Header --> 
#todo|- Header frame -|
OLDsection[tabindex="0"] iframe:nth-of-type(1) {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0 !important;
    margin-left: -7px !important;
    margin-top: -7px !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    min-width: 102%;
    z-index: 100;
    background: #FFF;
}
*/

/* 
#& >- Header --> 
#todo|- Header frame -|*/
section[tabindex="0"] iframe:nth-of-type(1) {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: left;
    vertical-align: middle;
    margin: 0;
    padding: 10;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0 !important;
    top: -7px !important;
    left: -7px !important;
    right: 0 !important;
    min-width: 102%;
    z-index: 100;
    background: linear-gradient(to bottom, #1e2a38, #0a111f) !important;
}

section[tabindex="0"] iframe:nth-of-type(1) body:nth-of-type(1) {
    margin: 0;
}

body[data-gr-ext-disabled="forever"] {
    margin: 0 !important;
}



/* Should be only for Header 
section[tabindex="0"] div:nth-of-type(1) {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    max-width: 101%;
}
*/

/* #todo|- Header button -|*/
/* #todo|- Header Tabs -|*/
/* #todo|- Header IconButton -|*/
/* #todo|- Header UserMenu -|*/
/* #todo|- Header Breadcomb -|*/
/* #todo|- Header Searchbar -|*/
/* #todo|- Header Navibar -|*/
/* #todo|- Header Sidebar -|*/

/* 
#& >- Sidebar --> 
#todo|- Sidebar Container -|*/

/*
#todo|---------------------------|    Input    |----------------|
#*      SelectBox
*/
section[data-testid='stSidebar'] div[data-testid="stSelectbox"] {
    background-color: #000;
    color: #111878;
    border: 1;
    border-color: #000;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset, 0px 3px 5px 0px rgba(0, 0, 0, 0.40);
}

/*
#*      MultiSelectBox
*/
section[data-testid='stSidebar'] div[data-testid="stMultiSelect"] {
    background-color: #000;
    color: #111878;
    border: 1;
    border-color: #000;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset, 0px 3px 5px 0px rgba(0, 0, 0, 0.40);
}


/*
#^V.:|  InputLabelText
*/
section[data-testid='stSidebar'] div[data-testid="stWidgetLabel"] {
    background-color: #000;
    color: #111878;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset, 0px 3px 5px 0px rgba(0, 0, 0, 0.40);
}


/*
#^V.:|  DropdownSelect
*/
section[data-testid='stSidebar'] div[data-baseweb="select"] {
    background-color: #666333;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset, 0px 3px 5px 0px rgba(0, 0, 0, 0.40);
}


/*
#*      TextBox
*/
section[data-testid='stSidebar'] div[data-testid="stTextInput"] {
    background-color: #000;
    color: #111878;
    border: 1;
    border-color: #000;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset, 0px 3px 5px 0px rgba(0, 0, 0, 0.40);
}

/*
#^V.:|  TextInput
*/
section[data-testid='stSidebar'] input[type="text"] {
    background-color: #666333;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset, 0px 3px 5px 0px rgba(0, 0, 0, 0.40);
}

/*
#todo|- Sidebar Button -|
#^V.:|  primary     
*/

section[data-testid='stSidebar'] button[kind="primary"] {
    background: #663333;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset, 0px 3px 5px 0px rgba(0, 0, 0, 0.40);
}

/*
#^V.:|  secondary  
*/
section[data-testid='stSidebar'] button[kind="secondary"] {
    background: #666333;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset, 0px 3px 5px 0px rgba(0, 0, 0, 0.40);
}

/*
#todo|- Sidebar Toggle -|
*/


section[data-testid='stSidebar'] {
    border: 1px;
    background-color: transparent!;
    button {
        top: 5px;
        background: #663333;
    }
}


/*
#& >- Content --> 
#todo|- Content Container -|
*/

/*
#todo|- Content Button -|
*/

/*
#todo|- Content Forms -|
*/

.tab-bar, .MuiTabs-root {
    display: flex;
    background: #252c3a;
    border-radius: 30px;
    width: 100%;
}
.tab, .MuiTab-root {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
    font-weight: 600;
    font-size: 16px;
    color: #bfbfbf;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset, 0px 3px 5px 0px rgba(0, 0, 0, 0.40);
}
.tab:before, .MuiTab-root:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 123, 255, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.tab:hover:before, .MuiTab-root:hover:before {
    opacity: 1;
}
.tab:hover, .MuiTab-root:hover {
    background: #2a3241;
    color: #fff;
    transform: translateY(-3px);
}
.tab.active, .MuiTab-root.active {
    background: #007BFF;
    color: #fff;
    transform: translateY(-3px);
}
.tab.active:before, .MuiTab-root.active:before {
    opacity: 1;
}
.tab.active::before, .MuiTab-root.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 123, 255, 0.4);
}
