header[data-testid='stHeader'] {
    display: none;
    width: 0;
    height: 0;
}
button[kind='secondary'] {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    color: #1E1E1E;
    background: linear-gradient(180deg, #414344 0%, #2B2D2E 100%);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset, 0px 3px 5px 0px rgba(0, 0, 0, 0.40);
    filter: hue-rotate(10deg);
    border-radius: 4px;
}
button[kind='secondaryFormSubmit'] {
    position: relative !important;
    width: 100% !important;
    background: #000 !important;
    color: #FF0000 !important;
}
section[data-testid='stSidebar'] {
    background: linear-gradient(to bottom, #1e2a38, #0a111f) !important;
    color: #1E1E1E;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #1e2a38, #0a111f);
    margin: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div[data-testid="stSidebarNav"] {
    display: none;
    height: 0px;
    width: 0px;
}

section[data-testid='stSidebar'] {
    top: 61px !important;
}
section[tabindex="0"] dsdiv[data-testid="block-container"] {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;

}

button {
    "box-shadow": "0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset, 0px 3px 5px 0px rgba(0, 0, 0, 0.40)",
}

.MuiButtonBase-root {
    "box-shadow": "0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset, 0px 3px 5px 0px rgba(0, 0, 0, 0.40)",
    "min-height": "min-content !important";
}

section[tabindex="0"] iframe:nth-of-type(1) {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0 !important;
    margin-left: -7px !important;
    margin-top: -7px !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    min-width: 101%;
    z-index: 100;
    background: linear-gradient(to bottom, #1e2a38, #0a111f);
}
section[tabindex="0"] iframe:nth-of-type(1) header:nth-of-type(1) {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0 !important;
    margin-left: -7px !important;
    margin-top: -7px !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    min-width: 101%;
    z-index: 100;
}
