/* 
-------------------------------------------------------
 Stylesheet Name: Theme Styles
 Author: Ax2
 Creation Date: 15/10/2023
 Version: 1.0.5
 Description: Main stylesheet
-------------------------------------------------------
*/

/* Fullscreen overlay */
#loadingOverlay {
    position: fixed;          /* Fixed position */
    top: 0;                   /* Position the overlay at the very top */
    left: 0;                  /* Position the overlay at the very left */
    width: 100%;              /* Full width */
    height: 100%;             /* Full height */
    background-color: rgba(255, 255, 255, 0.8);   /* White background with opacity */
    z-index: 9999;            /* Make sure it sits on top of everything else */
    cursor: progress;         /* Change the cursor to the progress mode */
}

/* The loader itself */
.loader {
    position: absolute;       /* Absolute positioning */
    top: 50%;                 /* Center it vertically */
    left: 50%;                /* Center it horizontally */
    border: 16px solid #f3f3f3;   /* Light grey ring */
    border-top: 16px solid #3498db;   /* Blue spinner */
    border-radius: 50%;              /* Circular loader */
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;   /* Animation named "spin" */
}

/* Spin animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Blurring the background when the loader is active */
body.loading {
    overflow: hidden;     /* Prevent any user interaction while loading */
    pointer-events: none;
    user-select: none;
    filter: blur(5px);    /* Blur effect */
}
 


/* ================================== */
/*?             Tests                 */
/* ================================== */
/*  ------------------------------------------------------------------------------ */
/*  Headings */
/*  ------------------------------------------------------------------------------ */
/*

h1, h2, h3, h4
{
    font-family         : myfind-bold;
    color               : #4C4C4C;
    display:inline-block;
    width:900px;
    text-align:left;
    background-image: linear-gradient(0,   #F4F4F4, #FEFEFE);/* IE6 & IE7 */
/*
}

h1  
{
    font-size           : 300%;
    padding             : 45px 40px 45px 0px;
}

h2
{
    font-size           : 200%;
    padding             : 30px 25px 30px 0px;
}
*/


/* ================================== */
/*?           Global                  */
/* ================================== */

/* Material 2/Title */
:root {
    font-family: Roboto;

}

.title {
    font-size: 34px;
    font-family: "Roboto";
    font-weight: 400;
    width: 360px;
    height: 40px;
}

/* ================================== */
/*?           Sidebar                 */
/* ================================== */

section[data-testid='stSidebar'] {
    width: 335px !important;
}

.stApp {
    margin-top: 2px;
}

section[data-testid="stSidebar"] div[data-testid="stSidebarUserContent"] div[data-testid="element-container"] div[class="MuiButtonGroup-root MuiButtonGroup-contained css-l67v48"] {}

div[class="MuiCardContent-root"] {}

div[data-testid="stSidebarUserContent"] iframe {}

div[data-testid="stSidebarNav"] {
    display: block;
    height: 40px;
    width: 0px;
}

/* Button Styles */

button[kind="secondary"] {
    border-radius: 4px;
    background: linear-gradient(180deg, #414344 0%, #2B2D2E 100%);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset, 0px 3px 5px 0px rgba(0, 0, 0, 0.40);
}

/* Custom Design Blue */

body {
    font-family: 'Arial', sans-serif;
}

.chat-list {
    width: 30%;
    background-color: #3B4B8A;
    border-radius: 20px;
    padding: 20px;
    overflow-y: scroll;
}

.chat-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.chat-item img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.chat-item p {
    color: #FFFFFF;
    font-size: 14px;
}

.chat-detail {
    width: 60%;
    background-color: #3B4B8A;
    border-radius: 20px;
    padding: 20px;
    margin-left: 5%;
}

.visitor-info {
    width: 30%;
    background-color: #5664A8;
}

iframe[title="streamlit_elements.core.render.streamlit_elements"] {
    margin-top: -50px !important;
    margin-bottom: -30px;
}

/* ================================== */
/*?           Footer Styles           */
/* ================================== */

/* Sidebar Footer */
iframe[height="81"]:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.footer-container .footer-item span {
    font-size: 14px;
}

/*  Streamlit Footer Adjustment */

.contfddfainer {
    border-radius: 28px 28px 0px 0px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ================================== */
/*?         Expander Styles           */
/* ================================== */
.streamlit-expander {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.streamlit-expanderHeader {
    background: linear-gradient(0deg, #6750A41C 0%, #262730 11%), linear-gradient(0deg, rgba(208, 188, 255, 0.11) 0%, rgba(208, 188, 255, 0.11) 100%);
}

.streamlit-expanderContent {
    background: linear-gradient(0deg, #6750A41C 0%,  #262730  100%), linear-gradient(0deg, rgba(103, 80, 164, 0.14) 0%, rgba(103, 80, 164, 0.14) 100%);
}


/* ================================== */
/*?         Input Box Styles          */
/* ================================== */

div[data-testid="stForm"] {
    background: linear-gradient(0deg,#262730  0%,  #334154  100%), linear-gradient(0deg, rgba(103, 80, 164, 0.14) 0%, rgba(103, 80, 164, 0.14) 100%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}


div[class="st-emotion-cache-1fyphr1 e1f1d6gn0"] {
    width: 100% !important;
    height: 100% !important;

}