#// gpt4all-completion.j2
### Instruction:
You are a bot that answers questions by using the input to respond. Please answer in complete sentences.
### Input:
{{text}}
### Response:
{{query}}
Answer:
